* {box-sizing: border-box;}
@font-face{
    font-family: Nunito;
    src: url(fonts/Nunito-Regular.ttf);
}

@font-face{
    font-family: NunitoB;
    src: url(fonts/Nunito-Bold.ttf);
}

$speed: 0.4s;

:root{
    --color:#c2213b;
}

.theme-but{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1vw;
    position: absolute;
    right:2%;
    width: 7.5vw;
    top: 5%;
.theme{
    border: none;
    display: block;
    border-radius: 4px;
    color: rgb(226, 226, 226);
    width: 1.5vw;
    height: 1.5vw;
    box-shadow: 0px 0px 1vw black;
    z-index: 2;
}
.a-t{
    background-color: #c2213b;

    &:focus{
        --color: #c2213b;
    }

}

.b-t{
    background-color: #02a8a0;
    &:focus{
        --color: #02a8a0;
    }

}

.c-t{
    background-color: #FB5252;
    &:focus{
        --color: #FB5252;
    }

}
}
.swiper-container {
    width: 100vw;
    z-index: 0;
    position: relative;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    .homepage{
        #social-link{
            position: absolute;
            left: 2px;
            padding: 15px;
            top: 10px;
            z-index: 100;
            
            .icon-home{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: 100%;
                padding: 20px;
                img{
                    height: 40px;
                    width: auto;
                }
            }
        
            .inner{
            padding: 10px;
            background: linear-gradient(220deg, #fffbfe,#d4d4d4);
            border-radius: 10px;
            width: 210px;
            clip-path: circle(14% at 18% 22%);
            transition: all 0.6s ease-in-out;
            cursor: none;
            padding: 10px 10px;
            list-style: none;
        
        
            &:hover{
                clip-path: circle(100%);
                background: linear-gradient(220deg, #fffefb,#d4d4d4);
                
            }
        }   
        
        }
    }
    .aboutmes{
        width: 100%;
        padding: 20vh;
    }
    .contact-me{
        display: contents;
        background-image: image("/images/");
        
        img{
            &:hover{
                border-bottom: 2px solid var(--color);
            }
            border-bottom: 2px solid #1b1b1b;
            padding: 1vw;
            transition: border-bottom 0.5s;
        }
        
    }
    .experience{
        width: 100%;
        padding-top: 10vh;
    }
    .achievements{
        padding: 10vh;
    }
    .skillswipe{
        skill{
            width: 100%;
            margin-left: 0%;
        
        
            .box-block-5{
                width: 4%;
                border: 2px solid var(--color);
                padding: 4%;
                z-index: 2;
                top: 84%;
                left: -3%;
                position: absolute;
                display:none;
            }
        
            img{
                position: relative;
                opacity: 0.25;
                width: 120%;
                z-index: 0;
                height: auto;
            }
            #skill-mod{
                position: absolute;
                width: 60%;
                left: 0%;
                margin-top: -45%;
                
            }
            .pskill{
                border-left: 2px solid grey;
                grid-area: p-skill;
                grid-template-columns: 100%;
                grid-template-rows: 1fr repeat(6,0.5fr);
                display: grid;
                
                h1{
                    color:rgb(110, 110, 110);
                    font-family: 'Cairo', sans-serif;
                    padding-left: 3vw;
                    font-weight: normal;
                    letter-spacing: 0px;
                    font-size: 3.5vw;
                    text-align: left;
                    
                }
            
            }
            
        
}}}

// swipe-container hidden for mob
@media screen and (max-width: 520px){
.swiper-container{
    display: none;
}
}

// home screen hidden for win
@media screen and (min-width: 520px){
    .ursor{
        display: none;
    }
    }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(17, 17, 17);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;



}

#hello_img{
    z-index: 1;
    position: relative;
    top: 40vh;

}
body::-webkit-scrollbar {
    display: none;
  }
body{
    // overflow: hidden;
    cursor: none;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-repeat: no-repeat;
    background-size: 100%; 
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    overflow-x: hidden;
    z-index: -1000;
}

.cursor{
    z-index: 3;
   width: 1rem;
   height: 1rem;
   border: 1px solid white;
   border-radius: 50%;
   position: fixed;
   transform: translate(-50%,-50%);
   pointer-events: none;
//    transform-origin: 100% 100%;
   transition: all 0.4s ease; // 
   transition-property: transform,border,backdrop-filter; 
   
}  

.joel-mouseover{
        background-color: rgba(2, 2, 2,0.5);
        transform: scale(6.2);
        border: none;
        mix-blend-mode: overlay;
        
}
.text_x-mouseover{

        backdrop-filter: invert(100%);
        border: none;
        transform: scale(4.2);
        
}

.image-mouseover{
        background-color: rgba(2, 2, 2, 0.6);
        border: none;
        transform: scale(1.2);
}

.inner-mouseover{

    background-color: rgba(2, 2, 2,0.6);
    border: 0px solid rgba(2, 2, 2,0.6);
    transform: scale(2.2);
}

#back1lar{
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 60%;
    z-index: -1000;
    opacity: 1;

}
#social-link{
    position: absolute;
    right: 2px;
    padding: 15px;
    top: 10px;
    z-index: 100;
    
    .icon-home{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100%;
        padding: 20px;
        img{
            height: 40px;
            width: auto;
            cursor: none;
        }
    }

    .inner{
    padding: 10px;
    background: linear-gradient(220deg, #fffbfe,#d4d4d4);
    border-radius: 10px;
    width: 210px;
    clip-path: circle(14% at 88% 22%);
    transition: all 0.6s ease-in-out;
    cursor: none;
    padding: 10px 10px;
    list-style: none;


    &:hover{
        clip-path: circle(100%);
        background: linear-gradient(220deg, #fffefb,#d4d4d4);

    }
}   

}
.home{
#joeljaimon{
    
        font-family: 'Cairo', sans-serif;
        margin: 0 auto;
        padding: 10px;
        font-weight: bold;
        width: 40%;
        text-align: center;
        position: absolute;
        height: auto;
        top: 30vh;
        left: 50%;
        transform: translate(-50%, -50%);
        .Hi{
            border-bottom: 2px solid var(--color);
            color: var(--color);
            z-index: 1;
            font-size: 2.4vw;
            margin-top: 45vh;
            .name-user{
                font-size: 2vw;
                color: white;
                
            }
            
        }
        .bio{

            font-size: 1.2vw;
            color :grey;
            margin: 15px;

        }
        #hello_img{
            width: 50%;
            height: auto;
        }
 
       }}
       @media screen and (max-width: 520px){
           
        .cursor{
            display: contents;
        }   
        .home{
            #joeljaimon{
                width: 100%;
                .Hi{
                    border-bottom: 1px solid ;
                    color: var(--color);
                    z-index: 100;
                    font-size: 6.4vw;
                    margin-left: 20%;
                    width: 60%;
                    margin-top: 42vh;
                    .name-user{
                        font-size: 5.5vw;
                        color: white;
                    }
                    
                }
                .bio{

                    font-size: 3.2vw;
                    color :grey;
                    margin: 15px;
        
                }
            }
        }
 }
      
#Container{
    display: none;
    position: relative;
    grid-gap: 50px;
    grid-auto-rows: auto; 
    grid-template-columns: 100%;
    background-color: black;
    top: 100%;
    width:90%;
    margin-left: 5%;
    @media screen and (max-width: 520px){
        width: 100vw;
        margin-left: 0%;
        display: grid;
        background-color: rgba(36, 36, 36, 0.7);
    }

}

#myVideo{
    height:108vh;
    width: 100vw;
    opacity: 0.5;
}

.wrapper{
    margin-top: -8vh;
    width: 120%;
    margin-left: -10%;
    top: -0.5px;
    opacity: 1;
    position: sticky;
    background-color: rgb(18, 18, 18);
    z-index: 1000;
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 2px;
    background: rgb(21, 21, 21);
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 2px;
    background: var(--color);
    width: 0%;
  }

    nav{
        align-items: center;
        display: flex;
        color: rgb(226, 226, 226);
        justify-content: space-around;
        align-items: center;
        font-family: 'Cairo', sans-serif;
        grid-row: 100%;
        height: 10vh;
        min-height: 60px;
        .logo{
            
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 20px;
        }
        .nav-links{
            display: flex;
            justify-content: space-around;
        }
        li{
            list-style-type: none;
            }
        a{
            color: rgb(226, 226, 226);
            line-height: 3.5vw;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .mob-button{
            display: none;
        }

        .mob-button div{
            width: 25px;
            height: 3px;
            background-color: rgb(226, 226, 226);;
            margin: 5px;
            transition: all 0.3s ease;
            
        }

        @media screen and (max-width: 920px){
            .nav{
                background: fi;
            }
            .nav-links{
                position: absolute;
                right: 0px;
                height: 60vh;
                top: 8vh;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid var(--color);
                align-items: center;
                width: 100%;
                background-color: rgb(21, 21, 21);
                transform: translateX(100%);
                transition: transform 0.5s ease-in;
            }
            .nav-links{
                li{
                    opacity: 0;
                }
            }
            .mob-button{

                display: block;
                cursor: none;

                
            }

            .btn-flip{

                line-height: 50px;
                transition: line-height 0.5s ease-in-out;

            }
        }
        .nav-active{
            transform: translateX(0%);
            background-color: black;
            
        }

        @keyframes navLinkFade {

            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
            
        }

        .switch .linea{
            transform: rotate(-45deg) translate(-5px,6px);
        }
        .switch .lineb{
            opacity: 0;
        }
        .switch .linec{
            transform: rotate(45deg) translate(-5px,-6px);
        }
            
        }


    }
    .btn-flip{

	    opacity: 1;
        outline: 0;
        position: relative;
	    display: inline-flex;
        
	
	&:hover{
		
		&:before{
            border-bottom: 2px solid var(--color);
            
		}
	}
	
	
	&:before{
		top: 2px;
		opacity: 1;
		display: flex;
		padding: 0 2vw;
        text-align: center;
		position: relative;
        content: attr(data-front);
        border-bottom: 2px solid rgb(18, 18, 18);
        transition: border-bottom 0.5s;
        
	}
}

about{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    
    
    h1{
        
        color: var(--color);
        font-family: Nunito;
        text-align: right;
        padding-right: 2vw;
        width: 80%;
        margin-left: 10%;
        font-size: 3.5vw;
        border-bottom: 2px solid rgb(110, 110, 110);
        
    }
    p{
        background: rgba(27, 27, 27, 0.8);
        margin-top: 0%;
        border-left: 1px solid var(--color);
        font-size: 1.5vw;
        width: 80%;
        color: rgb(226, 226, 226);
        padding: 10%;
        margin-left: 10%;
        font-family: Nunito;
    }
    img{
        width:100%;
        height: auto;
        z-index: 1;
        position: relative;
        
    }
    .box-block-1{
        width: 50%;
        border: 0.6vw solid var(--color);
        padding: 42%;
        z-index: 0;
        margin-top:-90%;
        left: -6%;
        position: relative;
    }

    .box-block-3{
        width: 28%;
        border: 2px solid grey;
        padding-top: 26%;
        z-index: 2;
        margin-top: -22%;
        margin-left: 175%;
        position: relative;
    }}
    @media screen and (max-width: 520px){
        about{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 0.5fr;
            background: rgba(21, 21, 21,0.8);
            h1{
                color: var(--color);
                font-family: Nunito;
                text-align: right;
                padding-right: 2vw;
                width: 80%;
                margin-left: 10%;
                font-size: 6.5vw;
                border-bottom: 2px solid rgb(110, 110, 110);
            }
            p{
           
                border-left: 1px solid var(--color);
                font-size: 3.8vw;
                width: 80%;
                color: rgb(226, 226, 226);
                padding: 8%;
                margin-left: 10%;
            }
            img{
                width:100%;
                height: auto;
                z-index: 1;
                position: relative;
                
            }
            .box-block-1{
                width: 80%;
                border: 2px solid var(--color);
                padding: 45%;
                z-index: 2;
                margin-top: -8%;
                left: 3%;
                position: absolute;
            }
        
            .box-block-2{
                display: none;
            }
            .box-block-3{
                display: none;
            }


    }
    }

//my experience
experience{
    h1{
        color: rgb(110, 110, 110);
        font-size: 3.5vw;
        text-align: center;
        font-family: Nunito;
    }
    img{
        opacity: 0.3;
        height: auto;
        margin-left: -10%;
        width: 120%;
        position: relative;
        z-index: 0;
    }
    .on-exp{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        margin-top: -58%;
    #exp-panel{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;

        .sec-exp{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto-fit;
           

            h1{
                font-size: 1.8vw;
                font-family: Nunito;
                text-align: center;
                color: var(--color);
                
            }
            p{
                font-family: Nunito;
                font-size: 1.2vw;
                color: rgb(200, 200, 200)
                

            }
            img{
                height: 20vw;
                width: auto;
                margin: 0 auto;
            }
            
        }
    }}
    
}
@media screen and (max-width: 520px){

    experience{
        h1{
            color: rgb(110, 110, 110);
            font-size: 6.5vw;
            text-align: center;
            border-bottom: 2px solid var(--color);
            font-family: Nunito;
        }
        img{
            opacity: 0.3;
            height: 1600px;
            margin-left: -10%;
            object-fit: cover;
            width: auto;
            position: relative;
            z-index: 0;
        }
        .on-exp{
            position: absolute;
            width: 80%;
            margin-left: 10%;
            margin-top: -1550px;
        #exp-panel{
            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
    
            .sec-exp{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto-fit;
                color: var(--color);
    
                h1{
                    font-size: 5.5vw;
                    font-family: Nunito;
                    text-align: center;
                    border-bottom:none;
                }
                p{
                    font-family: Nunito;
                    font-size: 3.8vw;
    
                }
                img{
                    height: 20vh;
                    min-height: 160px;
                    width: auto;
                    margin: 0 auto;
                }
                
            }
        }}
        
    }

}
// skill-section-css

skill{
    width: 120%;
    margin-left: -10%;


    .box-block-5{
        width: 4%;
        border: 2px solid var(--color);
        padding: 4%;
        z-index: 2;
        top: 84%;
        left: -3%;
        position: absolute;
        display:none;
    }

    img{
        position: relative;
        opacity: 0.25;
        width: 100%;
        z-index: 0;
        height: auto;
    }
    #skill-mod{
        position: absolute;
        width: 60%;
        margin-left: 10%;
        margin-top: -45%;
        
    }
    .pskill{
        border-left: 2px solid grey;
        grid-area: p-skill;
        grid-template-columns: 100%;
        grid-template-rows: 1fr repeat(6,0.5fr);
        display: grid;
        
        h1{
            color:rgb(110, 110, 110);
            font-family: 'Cairo', sans-serif;
            padding-left: 3vw;
            font-weight: normal;
            letter-spacing: 0px;
            font-size: 3.5vw;
            text-align: left;
            
            
            
            
        }
    
    }
    
.Other-skills{
    text-align: right;
    
    a{
        color:rgb(226, 226, 226);
        font-family: Nunito;
        font-size: 1.5vw;
        padding-right: 12%;

    }
}
    .progress {
        background: rgb(194, 194, 194);
        justify-content: flex-start;
        position: relative;
        padding-bottom: 6px;
        display: flex;
        height: 6px;
        border-radius: 5px;
        width: 80%;
        margin-left: 10%;
    
        }
        .skill {
            padding-bottom: 6px;
             border-radius: 5px;
            background: var(--color); 
            height: auto;
            width: 0;
            }
        .m-1{
            animation: skill-level-1 4s normal forwards;
            @keyframes skill-level-1 {
                0% { width: 0; }
                100% { width: 100%; }
                }
        }
        .m-2{
            animation: skill-level-2 4s normal forwards;
            @keyframes skill-level-2 {
                0% { width: 0; }
                100% { width: 60%; }
                }
        }
        .m-3{
            animation: skill-level-3 4s normal forwards;
            @keyframes skill-level-3 {
                0% { width: 0; }
                100% { width: 40%; }
                }
        }
        .m-4{
            animation: skill-level-4 4s normal forwards;
            @keyframes skill-level-4 {
                0% { width: 0; }
                100% { width: 40%; }
                }
        }
        .m-5{
            animation: skill-level-1 4s normal forwards;
            @keyframes skill-level-1 {
                0% { width: 0; }
                100% { width: 100%; }
                }
        }
        .m-6{
            animation: skill-level-2 4s normal forwards;
            @keyframes skill-level-2 {
                0% { width: 0; }
                100% { width: 60%; }
                }
        }
        
    }
@media screen and (max-width: 520px){
    skill{
        width: 100%;
        margin-left: 0%;
    
    
        .box-block-5{
            width: 4%;
            border: 2px solid var(--color);
            padding: 4%;
            z-index: 2;
            top: 84%;
            left: -3%;
            position: absolute;
            display:none;
        }
    
        img{
            position: relative;
            opacity: 0.25;
            width: 100%;
            object-fit: cover;
            z-index: 0;
            height: 700px;

        }
        #skill-mod{
            position: absolute;
            width: 90%;
            margin-top: -600px;
            
        }
        .pskill{
            border-left: none;
            grid-area: p-skill;
            grid-template-columns: 100%;
            grid-template-rows: 1fr repeat(6,1fr);
            display: grid;
            
            h1{
                color:var(--color);
                font-family: 'Cairo', sans-serif;
                padding-left: 3vw;
                font-weight: normal;
                letter-spacing: 0px;
                font-size: 6.5vw;
                text-align: left;
                
                
                
                
            }
        
        }
        
    .Other-skills{
        text-align: right;
        
        a{
            color:rgb(226, 226, 226);
            font-family: Nunito;
            font-size: 3.8vw;
            padding-right: 18%;
    
        }
    }
        .progress {
            background: rgb(194, 194, 194);
            justify-content: flex-start;
            position: relative;
            padding-bottom: 6px;
            display: flex;
            height: 6px;
            border-radius: 5px;
            width: 80%;
            margin-left: 2%;
        
            }
            .skill {
                padding-bottom: 6px;
                 border-radius: 5px;
                background: var(--color); 
                height: auto;
                width: 0;
                }
            
        }
}
achievements{
    display: grid;
    grid-template-columns: 100%;
    grid-row: 10% 90%;
    height: 80vh;
    width: 100%;

    h1{
        text-align: center;
        color:var(--color);
        font-family: Nunito;
        font-size: 3.5vw;
    }

.certi-view{
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin: 1vw;
        transform: skew(-4deg);
        align-items: center;
        padding-bottom: 2vw;

      
        .certi {
          flex: 1;
          transition: all 1s ease-in-out;
          height: 55vmin;
          position: relative;
          .cert-sub {
            color: white;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            min-width: 110%;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1em;
            line-height: 2em;
            font-family: Nunito;
            white-space: nowrap;
          }
      
          &:hover {
            flex-grow: 5;
            img {
                opacity: 1;
              filter: grayscale(0);
              border-bottom: solid 0.5vw var(--color);
            }
            .cert-sub {
              text-align: center;
              opacity: 1;
              color: white;
              
              object-fit: cover;
              background: rgba(0, 0, 0, 0.5);
              font-size: 2em;
              line-height: 5em;
            
            }
          }
          img {
            width: 100%;
            opacity: 0.8;
            height: 100%;
            object-fit: cover;
            transition: all 1s ease-in-out;
            filter: grayscale(100%);
          }
          &:not(:nth-child(6)) {
            margin-right: 1em;
          }
        }
      }
      
}
@media screen and (max-width: 520px){
    achievements{
        display: grid;
        grid-template-columns: 100%;
        grid-row: 2% 98%;
        height: 70vh;
        min-height: 500px;
        width: 100%;
    
        h1{
            text-align: center;
            color:var(--color);
            font-family: Nunito;
            font-size: 6.5vw;
        }
    
    .certi-view{
            display: flex;
            justify-content: center;
            overflow: hidden;
            margin: 1vw;
            transform: skew(-4deg);
            align-items: center;
            padding-bottom: 2vw;
            
          
            .certi {
              flex: 1;
              transition: all 1s ease-in-out;
              height: 70vmin;
              position: relative;
              .cert-sub {
                color: white;
                opacity: 0;
                transition: all 0.5s ease-in-out;
                min-width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 1em;
                white-space: nowrap;
              }
          
              &:hover {
                flex-grow: 5;
                img {
                    opacity: 1;
                  filter: grayscale(0);
                }
                .cert-sub {
                  text-align: center;
                  opacity: 1;
                  color: white;
                  font-family: Nunito;
                  object-fit: cover;
                  background: rgba(0, 0, 0, 0.5);
                  font-size: 2vh;
                  line-height: 8em;
                  width: 110%;
                }
              }
              img {
                width: 100%;
                opacity: 0.8;
                height: 100%;
                object-fit: cover;
                transition: all 1s ease-in-out;
                filter: grayscale(100%);
              }
              &:not(:nth-child(6)) {
                margin-right: 1em;
              }
            }
          }
          
    }
}
.contact-me{
    position: relative;
    display: none;
.contact-me-content{

    height: 26vw + 4vw;
    width: 100vw;

    #email{
        color: rgb(110, 110, 110);
        font-family: Nunito;
        font-size: 1.2vw;
        text-align: center;
        a{
            text-decoration: none;
            color: rgb(110, 110, 110);
        }
    }
    
    
    .contact-title{
        text-align: center;
        color: var(--color);
        font-size: 3.5vw;
        font-family: Nunito;
        padding-top: 4vw;
    }

    .contact-section{
        z-index: 100;
        background: rgba(27, 27, 27, 1);
        height: 17vw;
        position: relative;
        width: 50vw;
        margin-top: 2%;
        margin-left: 25vw;
        transition: border-top 0.5s;
        border-top: 2px solid rgb(17, 17, 17);
        &:hover{
            border-top: 2px solid var(--color);
        }
        
        
        .social{
            
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr;
            width: 50%;
            margin-left: 20%;
            bottom: 40%;
            position: absolute;
                img{
                    position: absolute;
                    width: 5vw;
                    height: 5vw;
                    cursor: none;
                }
                .con a{
                    align-self: center;
                }
            }
        }
    }
}

#license{
    z-index: 3;
    position: absolute;
    font-size: 20px;
    font-family: Nunito;
    bottom: 22px;
    width: 51%;
    margin-left: 24.5%;
    color: grey;
    a{
        color: var(--color);
        text-decoration: none;
        

        &:active{

            color: var(--color);

        }
    }
}

@media screen and (max-width: 520px){
    
    #license{
        z-index: 3;
        position: absolute;
        font-size: 20px;
        font-family: Nunito;
        bottom: 22px;
        width: 60%;
        margin-left: 24%;
        color: grey;
        a{
            color: var(--color);
            text-decoration: none;
            
    
            &:active{
    
                color: var(--color);
    
            }
        }
    }

.contact-me{
    display: contents;
    background-color: rgba(22, 22, 22,1);


.contact-me-content{

    height: 300px;
    margin-top: 100px;

    #email{
        color: rgb(110, 110, 110);
        font-family: Nunito;
        font-size: 4vw;
        text-align: center;
    }
    

    .contact-title{
        text-align: center;
        color: var(--color);
        font-size: 8.5vw;
        font-family: Nunito;
        position: relative;
        padding: 0.5em;
        
    }

    .contact-section{
        z-index: 100;
        background-color: #181818;
        height: 300px;
        position: relative;
        width: 80vw;
        margin-top: 2%;
        margin-left: 10vw;

        
        .social{
            
            display: flex;
            justify-content: space-evenly;
            width: 90%;
            margin-left: 0%;
            bottom: 70%;
            
            position: absolute;
                img{
                    
                    position: absolute;
                    width: 8vw;
                    height: 8vw;
                    
                }
                .con a{
                    align-self: center;
                }
            }
        }
    }
}

}
#menu{
    z-index: 1000;
    position: absolute;
    display: none;
}
.swiper-pagination-bullet {
    opacity: 1;
    border: rgb(97, 97, 97) solid 1px;
    background-color: transparent;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 0.6vw;
}
.swiper-pagination-bullet-active {
    background-color: var(--color);
    border: none;
}
.swiper-button-prev {
    color: whitesmoke; 
}

.swiper-button-next {
    color: whitesmoke; 
}
